.logo {
    margin: 0 100px 0 100px;
    padding: 0;
  }
  
  div {
    text-align: center;
  }

  .green1{
    width: 500px;
    height: 100px;
    background-color: rgb(126, 229, 218);
    float: left;
    margin: 3px 3px 3px 0;
    padding: 1px;
  }
  
  .green2{
    width: 200px;
    height: 100px;
    background-color: rgb(112, 204, 194);
    float: left;
    margin: 3px 3px 3px 0;
    padding: 1px;
  }

  .green3{
    width: 509px;
    height: 100px;
    background-color: rgb(98, 179, 170);
    float: left;
    margin: 3px 3px 3px 0;
    padding: 1px;
  }
  
  .grey {
    background-color: #eee;
  }
  .white{
    font-size: small;
  }
  
  p {
    margin: 0px;
    padding: 5px;
  }

  input[type="email"],
  a {
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    width: 300px;
  }

  input{
    border: 0.5px solid black;
    border-radius: 2px;
  }
  
  button {
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    border: 0.5px solid black;
    padding: 1px 6px;
  }